<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Attesa PS Trentino</title>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel= "stylesheet"/>
        
        {% block head %}{% endblock %}

    </head>

    <body>
    {% block body %}{% endblock %}
        <div class="blank">
           

        </div>
        <h1>Stime dei tempi di attesa nei pronto soccorso del Trentino</h1>
        
        <div class="main-paragraph">

            <p>
                In questa pagina sono disponibili le stime relative ai tempi di attesa nei pronto 
                soccorso di tutto il Trentino. Le previsioni vengono aggiornate regolarmente a
                intervalli di 10 minuti.
                
            </p>
            
            <p>
                Seleziona un ospedale dall'elenco sottostante per ottenere le stime dei tempi di
                attesa in base al triage.
            </p>
            <form action="/result" method="POST">
                <div id=s>
                    <select class = 'select' id = "er" name = 'er' onchange="changeDetected()">
                        
                        <option value = 0 disabled selected>Selezionare pronto soccorso</option>
                        <option value = "005-PS-PS">Cles</option>
                        <option value = "014-PS-PS">Cavalese</option>
                        <option value = "004-PS-PS">Borgo Valsugana</option>
                        <option value = "010-PS-PS">Arco</option>
                        <option value = "007-PS-PS">Tione</option>
                        <option value = "006-PS-PS">Rovereto</option>
                        <option value = "001-PS-PS">Trento</option>
                        <option value = "001-PS-PSP">Trento-pediatrico</option>
                        <option value = "001-PS-PSO">Trento-ortopedico</option>
                        <option value = "001-PS-PSG">Trento-ginecologico</option>
                        <option value = "001-PS-PSC">Trento-oculistico</option>

                        
                    </select>
                </div>
            <p>
                <input type="submit" id = "button" value="Conferma" disabled>
                <script type = 'text/javascript'>
                
                    function changeDetected(){
                        if (document.getElementById("er").value != '0'){
                            document.getElementById("button").disabled = false
                            
                        }
                    }
                </script>
            </p>

                <script type = 'text/javascript'>
                    if (document.getElementById("er").value == '0'){
                        document.getElementById("button").disabled = true;
                        }
                </script>
            </form>
            
            
        </div>
    </body>
</html>
