html{
overflow-y: scroll;
overflow-x: scroll
}

h1 {color:rgb(58, 141, 173);
    font-size: 30pt;
    padding-top: 40px; padding-bottom: 30px; padding-right: 700px; padding-left: 50px;
    
    
}

body {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    font-size: large;
    background-image: url("../images/blurred_mirrored.jpg");
    color:rgb(77, 75, 75);
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 1400px;
    
}

p {
    padding-right: 700px;
    padding-left: 40px
    ;
}

p.b {
    font-weight: bold;
}


select{display:block;width:350px;height:50px;padding:6px 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px; color:#fff;
    outline: none;
    border: 0.5px solid white;
    background-color:rgb(58, 141, 173)}

    
select:hover, input:hover {
    
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(84, 175, 211)

}

select option {
    background: rgb(116, 162, 179);
    
}

/*input{display:block;width:150px;height:50px;padding:6px 12px;
    font-size:20px;line-height:1.42857143;color:#fff;
    background-color: rgb(58, 141, 173);background-image:none;border:3px solid #fff;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    margin-top: 0px;
    }*/

input{width:120px;height:50px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:20px;color:#fff;
        background-color: rgb(58, 141, 173);border:0px solid #fff;
        outline: none;
        border: 0.5px solid white;
        
        }
    




form {
    padding-left: 40px;
}


.blank {
    background-color:#fff;
    padding: 0px;
    
}

